.container-left{
  width:15%;
  background-color: lightgrey;

}

.container-left img{
  width:100px;
}

.container .gheader{
  background-color: lightgreen;
}

.lcontainer{
  background-color: green;
}

.bcontainer{
  background-color: lightblue;
}
